body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.score {
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

img {
    margin: 2%;
}